/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Quicksand:wght@300;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 4rem;
    /*===== Colors ====*/
    --primary-color: #4070F4;
    --second-color: #0e2431;
    --text-color: #6d6a7c;
    
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 300;
    --font-medium: 500;
    --font-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*==================== RESET CSS ====================*/
* {
	margin: 0;
	padding: 0;
}

*,*:before,*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: #fff;
	color: var(--text-color);
	overflow-x: hidden;
}

html,
body {
	position: relative;
	height: 100%;
}

h1,h2,h3,h4 {
	font-weight: var(--font-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

input,
textarea,
select,
button {
	outline: none;
}

input {
	line-height: normal;
}

label,
button {
	cursor: pointer;
}








/*==================== COMMON ====================*/
.section {
	padding: 2rem 4rem;
}

.splide__slide img {
	width: 100%;
	height: 100%;
	margin: 0 auto
}