/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
	--header-height: 4rem;
	/*===== Colors ====*/
	--primary-color: #396dfe;
	--second-color: #11aab2;
	--text-color: #6d6a7c;
	--text-color-footer: #a7a5b4;

	/*========== Font and typography ==========*/
	--body-font: "Asap", sans-serif;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Font weight ==========*/
	--font-regular: 300;
	--font-medium: 500;
	--font-bold: 600;

	/*========== Margenes Bottom ==========*/
	/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/*==================== RESET CSS ====================*/

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: #fff;
	color: var(--text-color);
	overflow-x: hidden;
}

body.modal-open {
	overflow: hidden;
}

html,
body {
	position: relative;
	height: 100%;
}

h1,
h2,
h3,
h4 {
	font-weight: var(--font-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

input,
textarea,
select,
button {
	outline: none;
}

input {
	line-height: normal;
}

label,
button {
	cursor: pointer;
}

/*==================== SPLIDE CUSTOM ====================*/
.splide__slide {
	margin: 0 auto;
	width: 100%;
	display: inline-flex;  /* used for all slides vertical align center */
	vertical-align: middle; /* used for all slides vertical align center */
}

.splide__slide img {
	height: 100%;
	margin: 0 auto;
}

.splide__arrow {
	background: transparent !important;
}

.splide__arrow i {
	font-size: 5rem;
	color: var(--primary-color);
}

.splide__arrow--next {
	bottom: -4% !important;
}

.splide__arrow--prev {
	top: -4% !important;
}

.splide__arrow:disabled {
	visibility: hidden;
}

/*==================== COMMON ====================*/
.center {
	text-align: center;
}
.right {
	text-align: right;
}

.m-center {
	margin: 0 auto;
}

.mb-64 {
	margin-bottom: 64px;
}

.mb-4 {
	margin-bottom: 4rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.p-0 {
	padding: 0;
}

.required {
	color: red;
}


/*==================== MODAL ====================*/
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,0.25);
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	transition: .2s;
}

.modal.is-show {
	opacity: 1;
	visibility: visible;
}

.modal.is-show .modal-content {
	transform: scale(1,1);
}

.modal-content {
	position: relative;
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
	padding: 38px 45px;
	border-radius: 38px;
	background-color: #0fa4c2;
	transform: scale(.5,.5);
	transition: .2s linear;
}

.icon-close {
	position: absolute;
	top: 8px;
	right: 24px;
	font-size: 28px;
	cursor: pointer;
}

.title-form-register {
	letter-spacing: 0.2rem;
	text-align: center;
	font-size: 38px;
	text-transform: uppercase;
	color: #11365b;
	margin-bottom: var(--mb-1-5);
}

.form-group {
	display: block;
	position: relative;
	margin-bottom: var(--mb-1-5);
}
.form-control {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border-radius: 24px;
	outline: none;
	border: 1px solid rgb(211, 205, 205);
}
.floating__label {
	position: absolute;
	top: 10px;
	left: 16px;
	color: #cccbcb;
	font-weight: 600;
	transform: translate(0,0) scale(1);
	transition: all 0.2s linear;
}


.form-control:focus ~ label,
.form-control:valid ~ label {
	transform: translate(-10px,-25px) scale(0.8);
}


/* .form-group {
	display: block;
	position: relative;
	margin-bottom: var(--mb-1-5);
}
.form-control {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border-radius: 24px;
	outline: none;
	border: 1px solid rgb(211, 205, 205);
}
.floating__label {
	position: absolute;
	top: 10px;
	left: 16px;
	color: #cccbcb;
	font-weight: 600;
	font-size: 18px;
	transition: 0.2s ease all;
} */




.btn-form-register {
	font-family: var(--body-font);
	padding: 0.6rem 4rem;
	font-size: 14px;
	border-radius: 24px;
	border: none;
	outline: none;
	background-color: #002e5a;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

.image-upload {
	padding: 0 24px;
	margin-bottom: var(--mb-1);
}

.cap-invoice {
	color: black;
	font-weight: 600;
}

.image-upload input[type="file"] {
	display: none;
}

.image-upload img {
	width: 64px;
}

.btn-submit-register:hover {
	opacity: .8;
}


#modal-thank {
	z-index: 99999;
}
#modal-thank {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: transparent;
}

#modal-thank .modal-content {
	background-color: #fff;
	max-width: 800px;
	padding: 120px 42px 34px;
	border-radius: 28px;
}

#modal-thank .modal-body {
	background-color: #c1dfea;
	position: relative;
	padding: 2rem 2rem 1.5rem;
	margin-bottom: var(--mb-1-5);
	border-radius: 32px;
}

#modal-thank .img-thanks {
	width: 45%;
	position: absolute;
	top: -8%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#modal-thank .modal-body p {
	margin-top: 1rem;
	line-height: 1.8;
	color: #000;
	font-weight: 600;
	letter-spacing: 0.8px;
}

#modal-thank .modal-body .title-first {
	color: #119db8;
}

#modal-thank .modal-body .title-second {
	margin-top: 1rem;
	line-height: 1.8;
	color: #29245c;
	font-weight: bold;
}

#modal-thank .modal-footer p {
	color: #4a4275;
	font-weight: 500;
}

.hotline {
	color: #fa921e;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}


/*==================== GIOI-THIEU-AREA ====================*/
#gioi-thieu {
	background: url(../images/BACKGROUND-GIOI-THIEU.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.logo-img {
	width: 45%;
}

.header {
	padding: 8px 0;
	transition: all 0.2s linear;
	position: relative;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header.is-fixed {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	animation: fade 0.25s forwards 1;
 }
 @keyframes fade {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

.nav__item {
	display: inline-block;
	position: relative;
}

.navigation__menu {
	position: relative;
}

#form-search {
	position: relative;
}

#form-search input[type="text"] {
	padding: 0.4rem 1rem;
	border-radius: 18px;
	border: none;
	outline: none;
}

#form-search button[type="submit"] {
	background: transparent;
	border: none;
	position: absolute;
	right: 6%;
	top: 14%;
	font-size: 18px;
	color: var(--primary-color)
}


#gioi-thieu-wrap .gioi-thieu-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.gioi-thieu-title {
	margin-bottom: var(--mb-1);
}
.gioi-thieu-title img{
	width: 70%;
	margin: 0 auto;
}

.gioi-thieu-desc {
	color: #fff;
	margin-bottom: var(--mb-1-5);
	line-height: 1.8;
}

.btn-register {
	padding: 0.4rem 1.7rem;
	border-radius: 6px;
	border: none;
	outline: none;
	color: #fff;
	background-color: var(--second-color);
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 16px;
}

/*==================== BAI-DU-THI-AREA ====================*/
#bai-du-thi {
	background: url(../images/BACKGROUND-BAI-DU-THI.jpg);
	background-position: center;
	background-size: cover;
	height: 200rem;
	position: relative;
}

.img-post {
	width: 50%;
	display: block;
	margin-bottom: 4rem;
}

.post-wrap {
	padding: 4rem 0;
}

.post-content {
	margin-top: 2rem;
	font-weight: 400;
	color: var(--text-color);
	line-height: 1.8;
}

#footer {
	position: absolute;
	bottom: 0;
	padding: 4rem 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	color: var(--text-color-footer);
}

#footer p {
	padding: 0.4rem;
}

#footer .logo-img {
	width: 80%;
}